{% extends 'base.html' %}

{% block content %}
<div class="max-w-8xl mx-auto p-6">
  <h2 class="text-2xl font-semibold mb-4">Unpaid Bills by Visit</h2>

  {% if grouped_bills %}
    <table class="w-full table-auto border border-gray-300 text-sm">
      <thead class="bg-gray-100">
        <tr>
          <th class="border px-4 py-2 text-left">Patient Name</th>
            <th class="border px-4 py-2 text-left">DOB</th>
            <th class="border px-4 py-2 text-left">Gender</th>
          <th class="border px-4 py-2 text-left">Tracking Code</th>
          <th class="border px-4 py-2 text-left">Date</th>
          <th class="border px-4 py-2 text-left">Total Amount</th>
          <th class="border px-4 py-2 text-left">Status</th>
          <th class="border px-4 py-2 text-left">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for bill in grouped_bills %}
        <tr>
          <td class="border px-4 py-2">{{ bill.patient_name }}</td>
          <td class="border px-4 py-2">{{ bill.patient_age }} years</td>
           <td class="border px-4 py-2">{{ bill.patient_gender }}</td>
          <td class="border px-4 py-2">{{ bill.tracking_code }}</td>
          <td class="border px-4 py-2">{{ bill.latest_date|date:"Y-m-d H:i" }}</td>
          <td class="border px-4 py-2 font-bold text-black-600">KSh {{ bill.total_amount }}</td>
          <td class="border px-4 py-2 text-red-600 font-semibold">{{ bill.status|capfirst }}</td>
          <td class="border px-4 py-2">
            <a href="{% url 'view_bill' bill.transaction_id %}" class="text-blue-600 hover:underline">View</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p class="text-gray-500">No unpaid bills found.</p>
  {% endif %}
</div>
{% endblock %}
