{% extends "base.html" %}

{% block content %}
<h2 class="text-xl font-bold mb-4 mt-6">Admitted Patients</h2>

<div class="overflow-x-auto">
  <table class="min-w-full bg-white border border-gray-300">
    <thead class="bg-gray-100">
      <tr>
        <th class="py-2 px-4 border-b text-left">Tracking Code</th>
        <th class="py-2 px-4 border-b text-left">Patient Name</th>
        <th class="py-2 px-4 border-b text-left">Age</th>
        <th class="py-2 px-4 border-b text-left">Gender</th>
        <th class="py-2 px-4 border-b text-left">Hospital</th>
        <th class="py-2 px-4 border-b text-left">Date of Visit</th>
        <th class="py-2 px-4 border-b text-left">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for visit in visits %}
      <tr class="hover:bg-gray-50">
        <td class="py-2 px-4 border-b">{{ visit.tracking_code }}</td>
        <td class="py-2 px-4 border-b">{{ visit.patient.patient_name }}</td>
        <td class="py-2 px-4 border-b">
          {% if visit.patient_age != "N/A" %}
            {{ visit.patient_age }} years
          {% else %}
            N/A
          {% endif %}
        </td>
        <td class="py-2 px-4 border-b">{{ visit.patient_gender }}</td>
        <td class="py-2 px-4 border-b">{{ visit.hospital.name }}</td>
        <td class="py-2 px-4 border-b">{{ visit.date_time|date:"Y-m-d H:i" }}</td>
        <td class="py-2 px-4 border-b">
          <a href="">
            <button type="button"
              class="px-5 py-2.5 rounded-lg text-sm tracking-wider font-semibold cursor-pointer border-2 border-blue-700 outline-none bg-transparent hover:bg-blue-700 text-blue-700 hover:text-white transition-all duration-300">
              View Records
            </button>
          </a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="7" class="text-center py-4 text-gray-500">No ward visits found.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
